VoiceDetectionModels/
wandb/
model_cache/
jarvis_minimal_env/
TestVoiceRecognition.exe
TestMicrophone.exe
JARVIS.exe
JARVIS_GUI(RunThis).exe
wav2vec2-finetuned/
__pycache__/
*.py[cod]
*.safetensors
*.pt
.env
.vscode/